@page "/"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using PoBabyNames.Data
@using PoBabyNames.Models
@inject DataImportService DataImportService
@inject ApplicationDbContext DbContext
@using Microsoft.AspNetCore.Authorization
@inject IHttpContextAccessor HttpContextAccessor
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, world!</h1>
        <h2>Group: @groupName</h2>

        Welcome to your new app.

        <button @onclick="ImportData" disabled="@isImporting">Import Data</button>

        @if (isImporting)
        {
            <p><em>Importing data...</em></p>
        }
        else if (importMessage != null)
        {
            <p>@importMessage</p>
        }

        <RadzenGrid Data="@names" TItem="NameViewModel" ColumnWidth="auto" Style="width:100%">
            <Columns>
                <RadzenGridColumn TItem="NameViewModel" Property="NameText" Title="Name" />
                <RadzenGridColumn TItem="NameViewModel" Property="AverageRating" Title="Average Rating" />
            </Columns>
        </RadzenGrid>
    </Authorized>

    <NotAuthorized>
        <h3>User must log in</h3>
    </NotAuthorized>
</AuthorizeView>


@code {
    private bool isImporting = false;
    private string importMessage;
    private string groupName;

    List<NameViewModel> names = new List<NameViewModel>();

    protected override async Task OnInitializedAsync()
    {
        var currentUser = await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User);

        if (currentUser == null)
        {
            NavigationManager.NavigateTo("account/login", true);
        }
        else
        {
            var currentGroup = currentUser != null ? await DbContext.Groups.FindAsync(currentUser.GroupId) : null;
            groupName = currentGroup?.GroupName ?? "No group assigned";

            names = await DbContext.Names
            .Select(n => new NameViewModel
                {
                    NameText = n.NameText,
                    AverageRating = DbContext.Ratings
                        .Where(r => r.NameId == n.Id)
                        .Average(r => (double?)r.RatingValue) ?? 0.0
                })
            .ToListAsync();
        }
    }

    private async Task ImportData()
    {
        isImporting = true;
        importMessage = null;
        try
        {
            await DataImportService.ImportCsvDataAsync();
            importMessage = "Data imported successfully!";
        }
        catch (Exception ex)
        {
            importMessage = $"An error occurred: {ex.Message}";
        }
        isImporting = false;
    }
}