@page "/settings"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using PoBabyNames.Data
@using Radzen
@inject ApplicationDbContext DbContext
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<AuthorizeView>
    <Authorized>
        <h3>Settings</h3>
        @if (!string.IsNullOrEmpty(Message))
        {
            <div class="alert alert-info">@Message</div>
        }
        <RadzenDropDown Data="@groups" TextProperty="GroupName" ValueProperty="GroupId" @bind-Value="selectedGroupId"
            Style="width: 300px;" Placeholder="Select a group" />
        <RadzenTextBox @bind-Value="newGroupName" Style="width: 300px;" Placeholder="Or enter new group name" />
        <RadzenButton Text="Submit" Click="@SubmitGroup" />
    </Authorized>
    <NotAuthorized>
        <h3>User must log in</h3>
    </NotAuthorized>
</AuthorizeView>

@code {
    List<PoBabyNames.Models.Group> groups = new List<PoBabyNames.Models.Group>();
    int? selectedGroupId;
    string newGroupName;
    string Message; // Add this line

    protected override async Task OnInitializedAsync()
    {
        groups = await DbContext.Groups.ToListAsync();
        var currentUser = await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User);
        selectedGroupId = currentUser.GroupId; // Assuming GroupId is a property of the ApplicationUser
        if (selectedGroupId.HasValue)
        {
            NavigationManager.NavigateTo("/settings", true);
            Message = "GROUP ALREADY SET";
        }
    }

    private async Task SubmitGroup()
    {
        if (!string.IsNullOrEmpty(newGroupName))
        {
            var group = new PoBabyNames.Models.Group { GroupName = newGroupName };
            DbContext.Groups.Add(group);
            await DbContext.SaveChangesAsync();
            groups.Add(group); // Update the list to include the new group
            NavigationManager.NavigateTo("/", forceLoad: true); // Redirect to home page
        }
        else if (selectedGroupId.HasValue)
        {
            // Logic to handle joining an existing group
        }
    }
}